<div class="container">
    <div
        class="face-snap-component"
        *ngIf="faceSnap$ | async as faceSnap"
        [ngClass]="{ snapped: this.btnText === 'Oops, unsnap!' }"
    >
        <button class="btnBack" (click)="onBack()">
            &#8592; {{ "back" | uppercase }}
        </button>
        <h1 [ngClass]="{ 'snapped-txt': this.btnText === 'Oops, unsnap!' }">
            {{ faceSnap.title | uppercase }}
        </h1>

        <p [ngClass]="{ 'snapped-txt': this.btnText === 'Oops, unsnap!' }">
            Mis en ligne à
            {{ faceSnap.createdDate | date : "HH:mm, le dd MMMM yyyy" }}
        </p>
        <div
            class="container__img"
            [ngClass]="{ 'snapped-txt': this.btnText === 'Oops, unsnap!' }"
        >
            <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
            <q>{{ faceSnap.description }}</q>
            <p *ngIf="faceSnap.location">
                Photo prise à {{ faceSnap.location }}
            </p>
        </div>

        <div class="container__rating">
            <button
                class="btn"
                (click)="onSnap(faceSnap.id)"
                [ngClass]="{ 'snapped-btn': this.btnText === 'Oops, unsnap!' }"
            >
                {{ this.btnText }}
            </button>
            <div class="rating">
                <span>Like 👍 : </span>
                <span
                    [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
                    >{{ faceSnap.snaps }}</span
                >
            </div>
        </div>
    </div>
</div>
